@keyframes fadeIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.login-container {
    animation: fadeIn 0.8s ease-in-out forwards;
}
