<!DOCTYPE html>

<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <title>Paspark</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!-- nice selecy -->
    <link rel="stylesheet" href="css/nice-select.min.css">

    <!--owl slider stylesheet -->

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
</head>
    <body>

<section class="pricing_section layout_padding">
    <br />
    <div class="bg-box">
        <img src="~/Image/pricing-bg.jpg" alt="">
    </div>
    <div class="container">
        <div class="heading_container heading_center">
            <br />
            <h2>
                Our Pricing
            </h2>
        </div>
        <div class="col-xl-10 px-0 mx-auto">
            <div class="row">
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <h4 class="price">
                            $10
                        </h4>
                        <h5 class="name">
                            Basic
                        </h5>
                        <p>
                            Consequuntur iure, quam vero quidem minima obcaecati veniam, praesentium impedit quod repudiandae tempora amet deserunt rerum accusamus. Commodi qui, illum ad ipsa porro ipsum nostrum magni minus.
                        </p>
                        <a href="">
                            Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box box-center">
                        <h4 class="price">
                            $30
                        </h4>
                        <h5 class="name">
                            Premium
                        </h5>
                        <p>
                            Consequuntur iure, quam vero quidem minima obcaecati veniam, praesentium impedit quod repudiandae tempora amet deserunt rerum accusamus. Commodi qui, illum ad ipsa porro ipsum nostrum magni minus.
                        </p>
                        <a href="">
                            Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <h4 class="price">
                            $20
                        </h4>
                        <h5 class="name">
                            Standard
                        </h5>
                        <p>
                            Consequuntur iure, quam vero quidem minima obcaecati veniam, praesentium impedit quod repudiandae tempora amet deserunt rerum accusamus. Commodi qui, illum ad ipsa porro ipsum nostrum magni minus.
                        </p>
                        <a href="">
                            Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .bg-box {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover; /* Ensures image covers the whole area */
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        img

    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba($color: $primary2, $alpha: 0.65), rgba($color: $primary2, $alpha: 0.55));
    }

    }

    .sub_page
    {
        .hero_area
        {
        min-height: auto;
         }

    .header_section
        {
        margin-top: 0;
        box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.15);
        }

    }

    .header_section {
        padding: 10px 0;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7); /* Optional: Makes navbar visible */
        z-index: 1000;
        padding: 10px 0;
        .container-fluid

    {
        padding-right: 25px;
        padding-left: 25px;
    }

    }

    .pricing_section .box {
        margin-top: 45px;
    }
</style>
    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </div>
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
    </script>
    <!-- nice select -->
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">

    </script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
</body>
</html>